/*1024-1170*/
@media screen and (max-width: 1170px) {
    #menu {
        margin: 0;
    }

    #header-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #about-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #about-image {
        max-width: 400px;
    }

    #about-image img {
        max-width: 100%;
    }

    .advantages-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .products-item {
        margin: 10px;
    }

    .products-item .item-image {
        top: calc(50% - 170px);
        left: calc(50% - 95px);
    }

    .item-info {
        margin: 5px;
    }

    .products-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .products-item .item-action {

        font-size: 15px;
    }

    #order-image {
        width: 320px;
        top: 190px;
        left: 11px;

    }

    #order-image img:first-child {
        width: 100%;
    }

    #footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #order-text {
        order: 1;
    }

    #order-image {
        order: 2;
    }

    #berry_big {
        top: -55px;
    }

    #berry_small {
        bottom: 385px;
        right: -255px;
    }
}


/*925-1023*/
@media screen and (max-width: 1023px) {

    #menu {
        margin-left: 70px;
    }

    #main-container {
        flex-direction: column;
        padding: 95px 20px 0 20px;
        align-items: flex-start;
    }

    #main-image {
        position: relative;
        top: -130px;
        right: -350px;
    }


    #about-container {
        justify-content: center;
        text-align: center;
    }

    #about-us {
        max-width: 667px;
    }

    #about-us-title {
        max-width: 495px;
        margin: 0 auto;
    }

    #about-image {
        max-width: 320px;
        margin-bottom: 40px;
    }

    #about-image img {
        max-width: 100%;
    }

    #advantages {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 670px;
        margin: 0 auto;
    }

    div.advantages-container {
        margin: 40px 25px 20px 25px
    }

    #products-container {
        padding-bottom: 80px;
    }

    #products-title {
        margin-bottom: 75px;
    }

    #products-content {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 670px;
        margin: 0 auto;

    }

    .products-item {
        margin: 67px 17px 67px 17px;
    }
}

/*871-924*/
@media screen and (max-width: 924px) {
    #header .contact-number {
        visibility: hidden;
    }

    #main-image {
        position: relative;
        top: -130px;
        right: -300px;
    }
}


/*768-870*/
@media screen and (max-width: 870px) {
    #main-image {
        position: relative;
        top: -110px;
        right: -250px;
    }
}

/*432-767*/
@media screen and (max-width: 767px) {
    #main-image {
        position: relative;
        top: -80px;
        right: -180px;
    }

    /*700-731*/
    @media screen and (max-width: 731px) {
        #main-image {
            position: relative;
            top: -80px;
            right: -140px;
        }
    }

    /*425-700*/
    @media screen and (max-width: 700px) {

        #header-container {
            align-items: center;
        }

        #menu, #header .contact-number {
            display: none;
        }

        #menu-adaptive {
            display: block;
        }

        #menu-adaptive svg:hover {
            fill: black;
            cursor: pointer;
        }

        #menu-adaptive svg {
            width: 40px;
            height: 40px;
            fill: #821328;
        }

        #main-container {
            align-items: center;
            text-align: center;
            padding-top: 85px;
            padding-bottom: 45px;
        }

        #main-info {
            margin-bottom: 40px;
        }

        #main-info h1 {
            font-size: 45px;
        }

        #main-container p {
            margin: 60px auto 60px auto;
        }

        #main-image {
            position: static;
            max-width: 400px;
        }

        #main-image img {
            width: 100%;
        }

        #order-image {
            display: none;
        }

        #berry_small {
            display: none
        }


        #order-text {
            position: relative;
        }

        #order-form {
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }

        #order-form::after {
            content: " ";
            background-image: url("../images/strawberry_big.png");
            background-size: contain;
            height: 60px;
            width: 60px;
            background-repeat: no-repeat;
            position: absolute;
            top: 160px;
            right: -5px;
        }
        #menu{
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;
            padding-top: 30px;
            background: rgba(0, 0, 0, 0.8);
            top: 0;
            left: 0;
        }
        #menu a.menu-item{
            color: white;
            font-size: 20px;
            margin: 20px 5px;
        }
        #menu-adaptive{
            display: block;
            margin-right: 20px;
        }

        #menu.open{
            display: flex;
        }
        #menu svg{
            display: block;
            width: 24px;
            fill: white;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }

    /*424-580*/
    @media screen and (max-width: 580px) {
        #main-info h1 {
            font-size: 40px;
        }

        #about-us-title, #products-title {
            font-size: 35px
        }

        #about-image {
            margin-bottom: 16px
        }

        div.advantages-container {
            margin: 36px 15px 20px 15px;
        }

        #footer-container {
            flex-direction: column;
            text-align: center;
            margin: 0 auto;
            padding: 50px 0 50px 0;
        }

        #rights {
            display: none
        }

        #footer-container .contact-number {
            order: 2;
            margin: 40px 0;
        }

        #insta-banner {
            order: 3;
        }

        #rights-adaptive {
            display: block;
            order: 4;
            margin-top: 40px;
        }
    }

    /*377-500*/
    @media screen and (max-width: 500px) {

        #header-container, #main-container, #about-container, #products-container, #order-container, #footer-container {
            padding-left: 15px;
            padding-right: 15px;
        }

        #about-container, #products-container {
            padding: 100px 0;
        }

        #main-info h1 {
            font-size: 32px;
        }

        #main-image {
            max-width: 350px;
        }

        .advantages-container {
            max-width: 160px;
        }

        #advantages {
            margin: -5px;
        }

        .advantages-text {
            font-size: 13px;
        }

        .advantages-title {
            font-size: 18px
        }

        #about-us-title, #products-title, #order-text-title {
            font-size: 30px;
        }

        #about-us p, #main-info p, #order-text-content {
            font-size: 16px;
        }

    }


    /*320-376*/
    @media screen and (max-width: 376px) {

        #header-container {
            padding: 30px 15px;
        }

        #main-container {
            padding: 45px 15px;
        }

        #main-info p {
            margin: 40px 0;
        }

        #about-container {
            padding: 60px 15px;
        }

        #main-image {
            max-width: 250px;
        }

        #about-us p {
            margin: 50px 0;
        }

        #about-image {
            max-width: 300px;
        }

        div.advantages-container {
            max-width: 190px;
            margin: 35px 5px 10px 5px;
        }

        #products-title {
            margin-bottom: 50px;
        }

        #products-container {
            padding-top: 70px;
            padding-bottom: 0;
        }

        #order-container {
            padding: 70px 15px;
        }

        .order-action {
            padding: 20px 75px;
        }

        #footer-container {
            padding: 40px 15px;
        }
    }